@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@* <ul class="position-absolute py-5"> *@
@*     <li>User: administrator@test.nl<br />Pass: Administrator123<br />Role: Administrator</li> *@
@*     <br /> *@
@*     <li>User: employee@test.nl<br />Pass: Employee123<br />Role: Employee</li> *@
@*     <br /> *@
@*     <li>User: customer@test.nl<br />Pass: Customer123 <br />Role: Customer</li> *@
@* </ul> *@

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @Html.Partial("_Message")
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Account</h5>
                    <hr />
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-dark">We'll never share your email with anyone else.</small>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label" for="remember">Remember me</label>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-outline-dark btn-block btn-lg">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>