@model MailViewModel

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<form asp-controller="Home" asp-action="Mail" data-ajax="true" data-ajax-method="POST" class="mx-5">
    <div class="form-group my-4">
        <label asp-for="Email" for="email">Email address</label>
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="name@example.com">
        <span asp-validation-for="Email" class="text-white"></span>
    </div>
    <div class="form-group my-4">
        <label asp-for="Comment" for="comment">Comment</label>
        <textarea asp-for="Comment" class="form-control" id="comment" rows="3"></textarea>
        <span asp-validation-for="Comment" class="text-white"></span>
    </div>
    <button type="button" class="btn btn-outline-dark btn-block btn-lg" onclick="myMailFunction()">Vraag aan!</button>
</form>

<script>
    function myMailFunction(model) {
        var frm = $('form').serialize;
        console.log(frm);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Mail", "Home")',
            data: frm,
            success: function (result) {
                if (result.json) {
                    alert("Gelukt");
                } else {
                    alert("Niet gelukt");
                }
            },
            error: function () {
            }
        });
    }
</script>