@model OrderViewModel

<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Orders</h5>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <a asp-controller="Order" asp-action="Orders"><button class="btn btn-outline-dark btn-block btn-lg">Back to orders</button></a>                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-5">
                <div class="card-body">
                    @{
                        if (Model == null)
                        {
                            <h5 class="card-title text-center">Create order</h5>
                            <hr />
                            <form asp-controller="Order" asp-action="CreateOrder">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="DeliverDate">Deliverdate:</label>
                                    <input asp-for="DeliverDate" class="form-control" id="datepicker"/>
                                    <span asp-validation-for="DeliverDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description">Description:</label>
                                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="Description..."></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="Length">Length in cm:</label>
                                        <input asp-for="Length" type="text" class="form-control" placeholder="Length">
                                        <span asp-validation-for="Length" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="Width">Width in cm:</label>
                                        <input asp-for="Width" type="text" class="form-control" placeholder="Width">
                                        <span asp-validation-for="Width" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="Height">Height in cm:</label>
                                        <input asp-for="Height" type="text" class="form-control" placeholder="Height">
                                        <span asp-validation-for="Height" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="Weight">Weight in kg:</label>
                                        <input asp-for="Weight" type="text" class="form-control" placeholder="Weight">
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="Country">Country:</label><br />
                                        <input asp-for="Country" type="text" class="form-control" placeholder="Country">
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="City">City:</label>
                                        <input asp-for="City" type="text" class="form-control" placeholder="City">
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-md-8">
                                        <label asp-for="StreetName">Streetname:</label>
                                        <input asp-for="StreetName" type="text" class="form-control" placeholder="Streetname">
                                        <span asp-validation-for="StreetName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label asp-for="StreetNumber">Streetnumber:</label>
                                        <input asp-for="StreetNumber" type="text" class="form-control" placeholder="Streetnumber">
                                        <span asp-validation-for="StreetNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label asp-for="ZipCode">Zipcode:</label>
                                        <input asp-for="ZipCode" type="text" class="form-control" placeholder="Zipcode">
                                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-dark btn-block btn-lg">Create</button>
                            </form>
                        }
                        else
                        {
                            <h5 class="card-title text-center">Edit order</h5>
                            <hr/>
                            <form asp-controller="Order" asp-action="CreateOrder">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="DeliverDate">Deliverdate:</label>
                                    <input asp-for="DeliverDate" class="form-control" id="datepicker" />
                                    <span asp-validation-for="DeliverDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description">Description:</label>
                                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="Description..."></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="Length">Length in cm:</label>
                                        <input asp-for="Length" type="text" class="form-control" placeholder="Length">
                                        <span asp-validation-for="Length" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="Width">Width in cm:</label>
                                        <input asp-for="Width" type="text" class="form-control" placeholder="Width">
                                        <span asp-validation-for="Width" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="Height">Height in cm:</label>
                                        <input asp-for="Height" type="text" class="form-control" placeholder="Height">
                                        <span asp-validation-for="Height" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="Weight">Weight in kg:</label>
                                        <input asp-for="Weight" type="text" class="form-control" placeholder="Weight">
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label asp-for="Country">Country:</label><br />
                                        <input asp-for="Country" type="text" class="form-control" placeholder="Country">
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="City">City:</label>
                                        <input asp-for="City" type="text" class="form-control" placeholder="City">
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-md-8">
                                        <label asp-for="StreetName">Streetname:</label>
                                        <input asp-for="StreetName" type="text" class="form-control" placeholder="Streetname">
                                        <span asp-validation-for="StreetName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label asp-for="StreetNumber">Streetnumber:</label>
                                        <input asp-for="StreetNumber" type="text" class="form-control" placeholder="Streetnumber">
                                        <span asp-validation-for="StreetNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label asp-for="ZipCode">Zipcode:</label>
                                        <input asp-for="ZipCode" type="text" class="form-control" placeholder="Zipcode">
                                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-dark btn-block btn-lg">Update</button>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>