@{
    ViewData["Title"] = "Home -page";
}

<div class="loop-wrapper">
    <div class="cloud"></div>
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
</div>

<div class="bg-white">
    <div class="container">
        <div class="row justify-content-start py-5">
            <div class="col-md-6 mx-5">
                <h1>TMS</h1>
                <br/>
                <p>
                    Wij zijn trots te mogen vermelden dat wij de logistieke dienstverlener zijn voor gerenommeerde opdrachtgevers,
                    in diverse sectoren, n.l. woonwarenhuizen, postorderbedrijven, technische groothandel,
                    leverancier van sportmaterialen, drukkerijen, groothandelaren in sanitair en vele internetwinkels.
                </p>
                <p>
                    Wij richten ons op 2 speerpunten: “Distributie Benelux Business to Business” en “Distributie Benelux Business to Consumers”. 
                    Wij bieden naar gelang de eis van de opdrachtgever 24-uur levering of zelfde dag levering.
                </p>
                <br/>
                <p><b>TMS Logistics</b></p>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark text-white">
    <div class="container">
        <div class="row py-5 text-center">
            <div class="col-md-4">
                <img src="~/images/frontal-truck.svg" alt="" height="75" width="75">
                <b>74 Vrachtwagens.</b>
            </div>
            <div class="col-md-4">
                <img src="~/images/package.svg" alt="" height="75" width="75">
                <b>124 Afgeronde orders!</b>
            </div>
            <div class="col-md-4">
                <img src="~/images/human-resources.svg" alt="" height="75" width="75">
                <b>24 Opdrachtgever</b>
            </div>
        </div>
    </div>
</div>

<div class="text-black">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5">
                <div class="mx-5">
                    <h2>Waarom TMS</h2>
                    <br/>
                    <p>
                        Van TMS kent geen ingewikkelde organisatiestructuur, maar korte en krachtige communicatielijnen. Wat we afspreken, dat komen we voor de volle 100% na.
                    </p>
                </div>
            </div>
            <div class="col-md-6 bg-red py-5 text-white">
                <h2 class="text-center">Vraag een offerte aan!</h2>
                <form class="mx-5">
                    <div class="form-group my-4">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                    <div class="form-group my-4">
                        <label for="comment">Opmerking</label>
                        <textarea class="form-control" id="comment" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-outline-dark btn-block btn-lg">Vraag aan!</button>
                </form>
            </div>
        </div>
    </div>
</div>